## Lets Start by loading in the data.
To do so we need to import Pandas a data manipulation library.

In [1]:
import pandas as pd

In [2]:
fp = "D:/Laptop Data/Louis Box 2664/Documents/gym data project/gym training log/training log files/1-7-19 TL.xlsx" #FILE PATH
t = pd.ExcelFile(fp) # READ IN THE EXCEL FILE

tl = {"1": pd.read_excel(t,0), #DICITONARY OF THE DIFFERENT SHEETS IN THE WORKSHEET
        "2": pd.read_excel(t,1), 
        "3": pd.read_excel(t,2),
        "4": pd.read_excel(t,3),
        "5": pd.read_excel(t,4)}

w = tl["1"] # FOR THE SAKE OF THE DEMONSTRATION IM GOING TO RENAME THE SHEET WE ARE INVESTIGATING TO "WEEK1"

## Next we need to investigate the data.

In [3]:
w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  18 non-null     object
 1   Exercise    49 non-null     object
 2   Weight      38 non-null     object
 3   Reps        38 non-null     object
 4   RIR         35 non-null     object
 5   Notes       19 non-null     object
 6   Video       2 non-null      object
dtypes: object(7)
memory usage: 3.2+ KB

In [4]:
w.head(10) # .head() is used to take the top x number of rows

,Unnamed: 0,Exercise,Weight,Reps,RIR,Notes,Video
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PULL (1/7/19),Cable Hammer Curl,5.7kg,24,2,NaN,NaN
2,NaN,Cable Hammer Curl,7.9kg,"15,14,13,12",2,NaN,NaN
3,NaN,Assisted Pullup,23kg,"12,9,9,8",2019-02-01 00:00:00,NaN,NaN
4,NaN,Machine Row,27kg,"18,16,16",2,NaN,NaN
5,NaN,Dumbell Curls,10kg,"12,11,10,10",1,NaN,NaN
6,NaN,Dumbell Shrugs,24kg,"15,15,13,12",2,NaN,NaN
7,NaN,Forearm Reverse Curls,5kg,"10,8,6",0,NaN,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,PUSH (2/7/19),Bench,70kg,"10,9,8,8",2,Felt good\nno pain,NaN

In [5]:
w.tail(15)

,Unnamed: 0,Exercise,Weight,Reps,RIR,Notes,Video
42,NaN,Leg curl,18kg,"12,10,9,8",2,hyperextended (both legs),NaN
43,NaN,Smith machine Calf raises,10kg,"12,5,4,4,3",0,Myo reps,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Volume Tally,NaN,NaN,NaN,NaN,NaN,NaN
46,Back,14,NaN,NaN,NaN,NaN,NaN
47,Biceps,16,NaN,NaN,NaN,NaN,NaN
48,Traps,9,NaN,NaN,NaN,NaN,NaN
49,Forearms,14,NaN,NaN,NaN,NaN,NaN
50,Chest,14,NaN,NaN,NaN,NaN,NaN
51,Front delts,6,NaN,NaN,NaN,NaN,NaN
52,Side delts,16,NaN,NaN,NaN,NaN,NaN
53,Triceps,10,NaN,NaN,NaN,NaN,NaN
54,Quads,14,NaN,NaN,NaN,NaN,NaN
55,Hamstrings,14,NaN,NaN,NaN,NaN,NaN
56,Calves,10,NaN,NaN,NaN,NaN,NaN

### Its a good thing we checked the tail of the data, as there seems to be a sub table made at the bottom which may have affected our work.

### As we can see, very messy. Multiple columns that provide no use, missing data, inconsistent data types. A lot of things to sort out.

### Lets first remove the sub table at the bottom, then drop the two columns "notes" and "video", as we're not concerned about them.

In [6]:
w.drop(columns = ["Notes","Video"],inplace=True) #DROPPING COLUMNS I DONT WANT
                                                       #SETTING INPLACE TO TRUE MAKES IT A PERMANENT CHANGE

### From looking at the table above we can see that the column "Unamed: 0" should be a date column
### So lets rename it.

In [7]:
new_col = {"Unnamed: 0":"Date"} # PANDAS .RENAME FUNCTION TAKES IN A DICT LIKE OBJECT SO WE CREATE A DICTIONARY FOR THE NEW NAMES
w.rename(columns=new_col, inplace=True)

In [8]:
index_of_volume_table = w.index[w['Date'] == "Volume Tally"].to_list()[0]

drop_list = list(range(index_of_volume_table,len(w.index)))
w.drop(drop_list,inplace=True)

In [9]:
w.tail(10)

,Date,Exercise,Weight,Reps,RIR
35,NaN,Machine Lateral Raises,23kg,"19,5,5,4",0
36,NaN,Tricep pressdown,28kg,11,2
37,NaN,Tricep extension,41kg,"19,18,16",2
38,NaN,NaN,NaN,NaN,NaN
39,LEGS (6/7/19),Hack squat,25kg,"12,11,10,9",2
40,NaN,Rdl,100kg,"12,12,12",3
41,NaN,Leg Extension,45kg,"12,11,9",2019-02-01 00:00:00
42,NaN,Leg curl,18kg,"12,10,9,8",2
43,NaN,Smith machine Calf raises,10kg,"12,5,4,4,3",0
44,NaN,NaN,NaN,NaN,NaN

### We have lots of empty rows we which we want to get rid of. So we can the use Pandas dropna function to do so.

In [10]:
w.dropna(how="all",inplace=True) # SETTING HOW = "ALL" DROPS ROWS WHERE EVERY CELL IS NULL

In [11]:
w.reset_index(drop=True,inplace=True) #RESETTING THE INDEX SINCE I DROPPED ROWS

### I now want to insert a new column titled "week" which allows me to know which week of my mesocycle im on.
### To do so ill use the Pandas DataFrame.insert function.

In [12]:
w.insert(1,"Week",1) # THE PARAMETERS IM USING ARE THE POSITION I WANT TO INSERT IT, THE LABEL, AND THE VALUE OF THE COLUMN

# ONCE I PUT THIS ALL TOGETHER ILL LOOP THROUGH THE DIFFERENT SHEETS BUT FOR NOW I CAN JUST MANUALLY INSERT THE VALUES.

### Next I want to remove the "kg" from every cell in the weight column. There are also a number of cells which contain some form of the string "Bw", which indicates an exercise with soley my bodyweight. Such as pullups, pushups etc. 
### So to deal with those cells, I'll load in my weight log dataset and replace "Bw" with my weight at that current date. (Click here to view the data cleansing process my weight log).

In [13]:
weight_change_fp = "D:/Laptop Data\Louis Box 2664\Documents/gym data project/cleaned weight log/clean weight log.csv"
wc = pd.read_csv(weight_change_fp)

def replace_kg(n):
    if pd.isna(n):
        return n
    
    elif "bw" in n.lower():
        bw_indx = w.index[w["Weight"] == n].to_list()[0]
        date = w["Date"].iloc[bw_indx]
        wc_indx = wc.index[wc["Date"]==date]
        new_w = wc["Weight"].iloc[wc_indx]
        return new_w.item()
    
    else:
        return str(n).replace("kg","")

In [14]:
w["Weight"]=w["Weight"].apply(replace_kg) #OVERIDING THE OLD COLUMN WITH THE NEW VALUES

### This is how the database is looking so far.

In [15]:
w.head(5)

,Date,Week,Exercise,Weight,Reps,RIR
0,PULL (1/7/19),1,Cable Hammer Curl,5.7,24,2
1,NaN,1,Cable Hammer Curl,7.9,"15,14,13,12",2
2,NaN,1,Assisted Pullup,23,"12,9,9,8",2019-02-01 00:00:00
3,NaN,1,Machine Row,27,"18,16,16",2
4,NaN,1,Dumbell Curls,10,"12,11,10,10",1

### The next task we have is to populate every cell in the date column with the appropriate date.

In [16]:
w["Date"].fillna(method="ffill",inplace=True) # THE METHOD OF "FFILL" MEANS IT TAKES THE LAST NON-NULL VALUE 
                                                #AND FILLS IT WITH THAT

In [17]:
w.head()

,Date,Week,Exercise,Weight,Reps,RIR
0,PULL (1/7/19),1,Cable Hammer Curl,5.7,24,2
1,PULL (1/7/19),1,Cable Hammer Curl,7.9,"15,14,13,12",2
2,PULL (1/7/19),1,Assisted Pullup,23,"12,9,9,8",2019-02-01 00:00:00
3,PULL (1/7/19),1,Machine Row,27,"18,16,16",2
4,PULL (1/7/19),1,Dumbell Curls,10,"12,11,10,10",1

In [18]:
import datetime

def extract_dates(n): # THIS FUNCTION EXTRACTS THE DATE OUT OF THE STRING 
    n = n[6:len(n)-1]
    return datetime.datetime.strptime(n, "%d/%m/%y").strftime("%Y-%m-%d") # TAKES IN STRING IN THE FORMAT DD/MM/YY
                                                                         # AND CONVERTS IT TO DATETIME, THEN BACK TO STRING
                                                                         # IN THE NEW FORMAT YYYY/MM/DD

w["Date"] = w["Date"].apply(extract_dates)

In [21]:
w.head(5)

,Date,Week,Exercise,Weight,Reps,RIR
0,2019-07-01,1,Cable Hammer Curl,5.7,24,2
1,2019-07-01,1,Cable Hammer Curl,7.9,"15,14,13,12",2
2,2019-07-01,1,Assisted Pullup,23,"12,9,9,8",2019-02-01 00:00:00
3,2019-07-01,1,Machine Row,27,"18,16,16",2
4,2019-07-01,1,Dumbell Curls,10,"12,11,10,10",1

In [22]:
w["RIR"].head(3)

0                      2
1                      2
2    2019-02-01 00:00:00
Name: RIR, dtype: object

### In the column "RIR" (reps in reserve), there are a number of values which have a datetime data type, this is because this spreadsheet was made in google sheets, and when entering in a value like "1/2" which meant I thought I had 1 to 2 reps left. Sheets thought that I was trying to write a date, and so would convert it into a datetime object.
### So now we need to convert all those values back to numeric

In [23]:
rir_dict={"1":2,"2":2,"3":1,"4":0,"5":3} # FOR MISSING RIR VALUES, ILL ASSIGN THE VALUE TO WHAT IT SHOULD BE BASED ON 
                                         # WHAT WEEK IT IS

In [24]:
def fill_rir(n):
    if pd.isna(n):
        Nan_loc = w.index[pd.isna(w["RIR"])].tolist()[0] # GET THE INDEX LOCATIONS OF THE NAN VALUES,  
        return rir_dict[str(w["Week"].iloc[Nan_loc])] # THEN INPUT THE VALUE OF THE WEEK COLUMN INTO THE DICTIONARY TO
                                                      # RETURN THE CORRECT RIR
    elif type(n)== datetime.datetime:
        n = int(n.strftime("%d")) # IF THE DATE TYPE IS DATETIME THEN TAKE THE DAY VALUE OF THE DATE, AND CONVERT IT TO AN INT
        return n
    else:
        return n

In [25]:
w["RIR"]=w["RIR"].apply(fill_rir)

In [26]:
w["RIR"].head(3)

0    2
1    2
2    1
Name: RIR, dtype: int64

### Much better! The missing values have been replaced.

### Next lets change the weight column to a numeric data type as I want to perform calculations on it later.

In [27]:
w["Weight"] = w["Weight"].apply(pd.to_numeric) 
#USE THE .NUMERIC() FUNCTION TO CONVERT VALUES TO NUMBERS SINCE I WANT TO PERFORM CALCULATIONS ON THEM LATER

In [28]:
w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      38 non-null     object
 1   Week      38 non-null     int64
 2   Exercise  38 non-null     object
 3   Weight    38 non-null     float64
 4   Reps      38 non-null     object
 5   RIR       38 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.9+ KB

### Now we're going to add a new column "1RM" (one rep max) which takes the value of weight, reps and RIR, and uses the formula 1rm = w(1+r/30) to calculate an estimate of my current 1rm on that exercise. 
### This new column will allow me to track the affects of other variables against it. e.g. Volume (how much work i'm doing), my diet etc. This gives me an idea of the progress i'm making.

In [29]:
w.insert(6,"1RM",value=None)

In [30]:
def round_nearest(x, a): # THIS FUNCTION ROUNDS THE FINAL 1RM VALUE TO A GIVEN DEICMAL PLACE
    return round(x / a) * a

In [31]:
def one_r_m(n):
    rep = str(n[4]).split(",")[0]
    orm = float(n[3]) * (1 +(float(rep)+(n[5]))/30)
    n[6] = round_nearest(orm,0.25)
    return n[6]

w["1RM"] = w.apply(one_r_m, axis=1)

In [33]:
w["1RM"].head()

0    10.75
1    12.50
2    33.00
3    45.00
4    14.25
Name: 1RM, dtype: float64

### Now for the finishing touches. lets put this all together and loop through the different sheets and files we have!

In [21]:
import pandas as pd
import numpy as np
import re
import datetime
import math
import os
from pandas import ExcelWriter

def replace_kg(n):
    if pd.isna(n):
        return n
    
    elif "bw" in n.lower():
        bw_indx = w.index[w["Weight"] == n].to_list()[0]
        date = w["Date"].iloc[bw_indx]
        wc_indx = wc.index[wc["Date"]==date]
        new_w = wc["Weight"].iloc[wc_indx]
        return new_w.item()
    
    else:
        return str(n).replace("kg","")
        
def extract_dates(n):
    n = n[6:len(n)-1]
    return datetime.datetime.strptime(n, "%d/%m/%y").strftime("%Y-%m-%d")
                
def fill_rir(n):
    if pd.isna(n):
        Nan_loc = w.index[pd.isna(w["RIR"])].tolist()[0]
        return rir_dict[str(w["Week"].iloc[Nan_loc])]
    elif type(n)== datetime.datetime:
        n = int(n.strftime("%d"))
        return n
    else:
        return n
    
def round_nearest(x, a):
    return round(x / a) * a

def one_r_m(n):
    rep = str(n[4]).split(",")[0]
    orm = float(n[3]) * (1 +(float(rep)+(n[5]))/30)
    n[6] = round_nearest(orm,0.25)
    return n[6]

def save_xls(dict_df, path): # FUNCTION TO SAVE EACH A FILE AS AN .XLSX FILE
    
    writer = ExcelWriter(path)
    for key in dict_df:
        dict_df[key].to_excel(writer, key,index=False)
    writer.save()
        
folder_dir = "D:/Laptop Data/Louis Box 2664/Documents/gym data project/gym training log/training log files"
weight_change_fp = "D:/Laptop Data/Louis Box 2664/Documents/gym data project/cleaned weight log/clean weight log.csv"
wc = pd.read_csv(weight_change_fp)


def full_cleaning():
    for file in os.scandir(folder_dir):

        t = pd.ExcelFile(file)

        tl = {"1": pd.read_excel(t,0),
                "2": pd.read_excel(t,1), 
                "3": pd.read_excel(t,2),
                "4": pd.read_excel(t,3),
                "5": pd.read_excel(t,4)}

        for s in tl:

            w = tl[s]
            rir_dict={"1":2,"2":2,"3":1,"4":0,"5":3}

            w.columns =["Date","Exercise","Weight","Reps","RIR","Notes","Video"]
            w["1RM"]=None

            indx_vol_table = w.index[w['Date'] == "Volume Tally"].to_list()[0]
            drop_list = list(range(indx_vol_table,len(w.index)))
            w.drop(drop_list,inplace=True)
            w.drop(columns = ["Notes","Video"],inplace=True)
            w.dropna(how="all",inplace=True)

            w.insert(1,"Week",int(s))
            w.reset_index(drop=True,inplace=True)

            w["Date"].fillna(method="ffill",inplace=True)        
            w["Date"] = w["Date"].apply(extract_dates)
            w["Weight"]=w["Weight"].apply(replace_kg)
            w["RIR"]=w["RIR"].apply(fill_rir)
            w["Weight"] = w["Weight"].apply(pd.to_numeric)
            w["1RM"] = w.apply(one_r_m, axis=1)

            file_template = tl["1"]["Date"].iloc[0] + " clean TL.xlsx"

        save_xls(tl,"D:/Laptop Data/Louis Box 2664/Documents/gym data project/cleaned training logs/"+file_template)
    
if __name__ == "__main__":
    full_cleaning()